<html>
<head>
  <meta charset="utf-8">
  <title> Primera resolución del nuevo Consejo de la Magistratura: excluyó de un concurso a un juez procesado por corrupción </title>
    </head>
    <body>
    <h1>Primera resolución del nuevo Consejo de la Magistratura: excluyó de un concurso a un juez procesado por corrupción</h1>
    <h2>En una decisión unánime no permitió que Walter Bento participe de un examen para ascender</h2>
    <p>En una decisión unánime, firmada por sus 18 integrantes, el nuevo Consejo de la Magistratura resolvió excluir de un concurso a Walter Bento, juez federal mendocino procesado por corrupción. La resolución, a la que se llegó a través de consultas virtuales, ya que no hubo reunión presencial, lleva las firmas de los consejeros opositores y oficialistas y del presidente de la Corte, Horacio Rosatti.
Bento, que tenía competencia electoral en Mendoza, fue procesado como presunto jefe de una asociación ilícita que cobraba coimas para beneficiar a acusados en causas por graves delitos federales, que involucraban grandes sumas de dinero. Permanece en libertad debido a los fueros.</p>
  <a href="../index.html"> LINK A ARTICULO 1 </a>
  <a href="https://www.infobae.com/politica/2022/04/27/primera-resolucion-del-nuevo-consejo-de-la-magistratura-excluyo-de-un-concurso-a-un-juez-procesado-por-corrupcion/"> LINK A NOTICIA </a>
  <img src="https://www.infobae.com/new-resizer/igDf734E8RbAOTFOhVtxDgCQDbI=/768x432/filters:format(webp):quality(85)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/EZ4SVUQWGJGMDIT47AB2S2ZUOM" alt="IMAGEN">
  <img src="../assets/img/Nota.jpg">
